
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;

}
.navbar .logo{
    width: max(10%,80px);
    color: orangered;
    font-weight: 800;
    font-size: 1.5rem;

}
.navbar .profile{
    width: 50px
}