.sidebar{
   border-top: 0;
   border: 1.5px solid grey;
    min-height: 100vh;
    width: 18%;
    font-size: max(1vw,10px);
}
.sidebar-options{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20%;
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid gray;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px ;
    cursor: pointer;
}
.sidebar-option.active{
    border-color: antiquewhite;
    background-color: #fd7848;
      

}

@media (max-width:900px) {
    .sidebar-option p{
        display: none;
    }
    
}